:root {
  --open-color: brightness(0) saturate(100%) invert(88%) sepia(91%) saturate(1758%) hue-rotate(1deg) brightness(104%) contrast(104%);
  --close-color: brightness(0) saturate(100%) invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-width: min-content;
}

.Train {
  --current-left: 0px;
  --current-top: 0px;
  --delta-left: 0px;
  --delta-top: 0px;
  position: absolute;
  left: var(--current-left);
  top: var(--current-top);
}

.TrainOpen {
  animation: door-open 1s ease-in-out forwards;
}

.TrainClose {
  animation: door-close 1s ease-in-out forwards;
}

@keyframes door-open {
  100% {
    filter: var(--open-color);
    translate: var(--delta-left) var(--delta-top);
  }
}

@keyframes door-close {
  100% {
    filter: var(--close-color);
    translate: var(--delta-left) var(--delta-top);
  }
}

.NslMap {
  transform-origin: center;
}
