:root {
  --open-color: #FFFF00;
  --close-color: #00FF00;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-width: min-content;
  padding-left: 20px;
  padding-right: 20px; 
}

.Train {
  position: absolute;
  transform-origin: center;
  z-index: 1;
}

.TrainDesc {
  position: absolute;
  outline: 0.1rem solid white;
  background-color: black;
  opacity: 70%;
  transform-origin: center;
  z-index: 2;
  font-size: 25%;
}

.NslMap {
  position: absolute;
  transform-origin: center;
  z-index: 0;
}
